"*":
  core:
    themes: [
      "slack-ui"
      "one-light-syntax"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "b03429e2-58be-f1a1-35f3-61898ea0b4da"
  welcome:
    showOnStartup: false
