[
  {
    title: "Atom test"
    group: "python"
    paths: [
      "/home/kaloyan"
      "/home/kaloyan/Playground"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: false
    template: null
  }
]
